NN VBP DT NN .
PRP VBP NNP .
PRP VBP TO VB NNP .
PRP VBP TO VB TO NNP .
PRP VBP NNS .
PRP MD VB DT NN .
PRP VBP IN DT NN IN DT NNS .
PRP VBP CD NNS CC CD NN , CC PRP VBD VBN JJ .
PRP$ NN NNS NNS , CC PRP$ NN VBZ DT NN IN DT JJ NN .
PRP$ NNS VBP RB JJ CC VB RB IN NN .
PRP$ NN VBZ DT JJ NN , CC PRP VBZ RB NN .
PRP$ NN RB VBZ IN PRP .
PRP VBD IN NNP WRB PRP VBD CD NNS JJ .
PRP VBZ VBN JJ , CC PRP VBZ RB RB JJ .
PRP VBZ DT JJS NN .
PRP$ NN VBZ RB JJ TO PRP .
PRP VBP NNS IN NNS RB .
PRP$ NNS CC PRP VBP TO VB IN JJ NNS IN DT NNS .
PRP$ NN NNS TO VB IN PRP$ NN .
IN DT NNS PRP DT VBP NN NNS RB .
PRP VBP CC RB VB DT JJ NN .
PRP VBP PRP$ NN RB RB .
RB , PRP VBP RP .
RB , PRP VBP VBN .
PRP VBP TO NN .
PRP VBP RB VB DT NN .
PRP VBP RB VB DT NN .
PRP VBP TO VB TO NN .
PRP VBZ .
PRP VBP RB IN NN .
PRP VBP NN .
PRP VBP DT NN CC DT NN .
PRP RB VBD IN DT JJS NN NN .
PRP VBD DT NN IN DT JJ NN .
PRP VBD JJ JJ NN NNS .
PRP$ NN VBD DT NNP , DT JJ NN .
PRP$ JJ NN VBZ RB .
PRP$ JJ NN VBZ JJ .
PRP VBZ RB VBG .
PRP VBP RB VB DT NN .
PRP VBP RB VB DT NN .
PRP VBP RB .
PRP VBP TO VB .
PRP VBP DT NN .
PRP VBP TO VB NNS .
PRP VBP RB IN VBG NN .
PRP$ NN NNS VBP IN NN .
DT NN VBZ JJ .
RB , PRP VBP TO NN .
PRP VBP RB VB TO VB TO NN .
PRP VBP IN DT JJ NN IN NNP NNP .
PRP NN DT NN IN CD JJ NNS .
PRP$ NNS VBP NNP , NNP , CC NNP .
PRP VBP DT JJ IN NN .
IN DT NN , PRP VBP NN RB .
DT NN PRP VBP IN NNS IN DT NN .
PRP VBD RB JJ NNS JJ NN .
PRP VBD PRP IN DT JJ NN IN PRP$ NN .
DT NN PRP VBP TO VB TO VB .
PRP VBZ JJ TO VB , CC RB JJ NN .
PRP$ NN VBZ DT JJ NN .
PRP VBZ IN PRP MD VB PRP .
PRP VBP PRP MD VB PRP .
PRP VBD DT NN IN VBG NN .
RB , PRP VBD DT NN .
PRP VBD DT NN NN .
RB , PRP VBD RP DT NN .
JJ , NNP VBD NN .
DT NNP VBP IN DT NN .
PRP VBP DT NN NN .
PRP VBP NN IN DT NN NN .
DT NN VBZ NN IN DT NN .
PRP VBP IN DT NN NN .
DT NN VBZ CD NNS .
PRP VBP IN DT NNS .
PRP VBP PRP$ NNS IN DT NN .
EX VBZ CD NN .
DT NN VBZ NN .
NNP VBZ NN .
PRP$ NN RB VBZ NN CC NN RB .
PRP VBP .
RB PRP$ NN VBZ DT NNS .
IN NN NN VBZ TO VB TO NN .
NNP VBZ IN DT NN .
PRP VBP NN CC PRP$ JJ NNS .
